cryptocompare-api-develop/Console/Connected Services/tootAService/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26073/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TestMTOM" />
  <xs:import schemaLocation="http://localhost:26073/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TestMTOM.Model" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TestMTOM" minOccurs="0" name="GetDataResult" nillable="true" type="q1:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_severity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_component" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMessages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TestMTOM.Model" minOccurs="0" name="getMessagesResult" nillable="true" type="q2:ArrayOftootAMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>