cryptocompare-api-develop/Console/Connected Services/tootAService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/TestMTOM.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestMTOM.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26073/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOftootAMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tootAMessage" nillable="true" type="tns:tootAMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftootAMessage" nillable="true" type="tns:ArrayOftootAMessage" />
  <xs:complexType name="tootAMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Component" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DownloadedByConsole" type="xs:boolean" />
      <xs:element minOccurs="0" name="EntryDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Severity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tootAMessage" nillable="true" type="tns:tootAMessage" />
</xs:schema>